@page "/User/LogOut"
@using DanCode_Blazor.Services.Authentication
@rendermode InteractiveServer
@inject IAuthenticationService AuthService
@inject NavigationManager NavManger


<h3>LogOut</h3>

@code {

    protected override async void OnInitialized()
    {
        await AuthService.LogOut();
        NavManger.NavigateTo("/");

    }
}
