<style>

    /*     .footer-text {
                color: #0b6131 !important;
            }

            /* استایل پیش‌فرض برای آیتم‌های ناوبری */
    .nav-itemm {
        padding: 15px 10px; /* افزایش پدینگ */
        font-size: 20px; /* افزایش اندازه فونت */
        color: #0b6131 !important; /* رنگ پیش‌فرض متن */
        background-color: transparent; /* رنگ پیش‌فرض پس‌زمینه */
        transition: all 0.3s ease; /* برای افکت نرم تغییر */
    }

        /* استایل در حالت هاور */
        .nav-itemm:hover {
            color: white !important; /* رنگ متن در حالت هاور */
            background-color: #0b6131; /* رنگ پس‌زمینه در حالت هاور */
        }

    .linkk {
        padding: 15px 10px; /* افزایش پدینگ */
        font-size: 20px; /* افزایش اندازه فونت */
        color: #0b6131 !important; /* رنگ پیش‌فرض متن */
        background-color: transparent; /* رنگ پیش‌فرض پس‌زمینه */
        transition: all 0.3s ease; /* برای افکت نرم تغییر */
    }

        .linkk:hover {
            color: white !important;
        }

    */
</style>

<div class="container">

    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">





        <div class="col mb-3">

            <ul class="nav flex-column">

                <li class="nav-itemm mb-2"><a href="/" class="nav-link linkk footer-text">خانه</a></li>
                <hr />
                <li class="nav-itemm mb-2"><a href="/Courses" class="nav-link linkk footer-text">دوره ها</a></li>
                <hr />
                <li class="nav-itemm mb-2"><a href="/Products" class="nav-link linkk footer-text">محصولات</a></li>
                <hr />

            </ul>

        </div>

        <div class="col mb-3">

            <ul class="nav flex-column">

                <li class="nav-itemm mb-2"><a href="/Drills" class="nav-link linkk footer-text">تمرین ها</a></li>
                <hr />

                <li class="nav-itemm mb-2"><a href="/AboutUs" class="nav-link linkk footer-text">درباره ما</a></li>
                <hr />

                <li>
                    <a referrerpolicy='origin' target='_blank' href='https://trustseal.enamad.ir/?id=535378&Code=jDGawyodHZQpgtNQVwmV1DVDZQEQlRUq'><img referrerpolicy='origin' src='https://trustseal.enamad.ir/logo.aspx?id=535378&Code=jDGawyodHZQpgtNQVwmV1DVDZQEQlRUq' alt='' style='cursor:pointer' code='jDGawyodHZQpgtNQVwmV1DVDZQEQlRUq'></a>
                </li>

                <hr />

            </ul>

        </div>

        <div class="col mb-3">
            <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none footer-text">
                <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"> </use></svg>
            </a>
            <p class="footer-text">© 2024</p>
        </div>

    </footer>

</div>

